<h1 id='country'>{{country}}</h1>
<div class='country-info' id='countries'>
  <div>
    <p>Capital:<span id='capital'>{{city}}</span></p>
    <p>Population:<span id='population'>{{population}}</span></p>
    <p>Languages:</p>
    <ul>
      {{#each languages}}
        <li><p id='language'>{{this}}</p></li>
      {{/each}}
    </ul>
  </div>
  <div class='country-flag-container'>
    <img src='{{image}}' alt='{{country}} flag' />
  </div>
</div>